.header {
	width: 100%;
	padding: 10px;

	h1 {
		font-family: 20px;
		color: rgb(121,189,154);
		letter-spacing: 1px;

	}

	.settings__button {
		align-items: center;
		background: transparent;
		border: 0;
		cursor: pointer;
		display: flex;
		height: 32px;
		justify-content: center;
		padding: 4px;
		width: 32px;
	}

	.settings__icon {
		width: 25px;
		height: 25px;
		* {
			stroke: rgb(11,72,107);
		}
	}
}
